.main-container {
  display: grid;
  justify-content: center;
}
h1 {
  color: rgb(27, 62, 39);
}
.tooltip-container {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(27, 62, 39);
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 13px;
}
.tooltip {
  position: absolute;
  display: flex;
  justify-content: center;
  top: calc(-100%-50px);
  transform: translateX(-50%);
  background-color: #cdd9cf;
  color: rgb(27, 62, 39);
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  min-width: 200px;
  margin-top: 27px;
  box-shadow: rgba(124, 137, 132, 0.2) 0px 0px 13px 0px;
}
